.mi__btn {
    width: 9.5em;
    height: 2.5em;
    margin: 1em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 30px #0dcaf0;
}

.mi__btn:hover {
    color: black;
        }

.mi__btn:after {
content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
        }

.mi__btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
                }