@media (min-width:320px){
    .main__card-m{
        display: none;
    }
    .main__card-l{
        display: none;
    }      

    .main-cursos{
        display: none;
    }

}
@media (min-width:590px){
    .grid-cont{
        main{
            .main__card-s{
                display: none;
            }
            .main__card-m{
                display:flex;
                margin: 1.25rem;
                .main__bot{            
                    display: grid;
                    width: 100%;
                    gap: 0.9375rem; 
                    grid-template-columns:repeat(auto-fill, minmax(190px, 1fr));                
                }            
            }
            .main-cursos{
                .cont-cursos{
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: auto;
                    grid-template-areas:
                    "cursos texto"
                    "bntc bntc";
                .btn-cursos{
                    grid-column-start: 0;
                    grid-column-end: 3;
                    grid-area: bntc;
                }   
                }
            }
        }
    }
}
@media (min-width:1024px){
    .grid-cont{
        main{
            .main__top{
                .main__portada{
                    flex-direction: row;
                    align-items: stretch;                    
                }
            }
            .main__card-s{
                display: none;
            }
            .main__card-m{
                display:none;
            }
            .main__card-l{
                display: flex;
                margin: 1.25rem;
                .main__bot{            
                    display: grid;
                    width: 100%;
                    gap: 0.9375rem;                
                    grid-template-columns:repeat(auto-fill, minmax(190px, 1fr));

                }            
            }
        }
    }
    
}